<div class="fw-error">
  <div class="errorExplanation" id="errorExplanation">
    <% options ||= {:header_tag=>'h2'} %>
    <%= content_tag( options[:header_tag] ) do %>
		  <fw:intl>Please correct the following problems</fw:intl>:
    <% end %>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
		    <li><fw:intl><%= msg %></fw:intl></li>
      <% end %>
    </ul>
  </div>
  <br style="clear:both;">
</div>

