<% if flash[:notice] %>
  <div class="fw-flash">
  <% if flash[:notice].index( '<fw:intl' ) %>
    <%= flash[:notice] %>
  <% else %>
    <fw:intl><%= flash[:notice] %></fw:intl>
  <% end %>
  </div>
<% end %>
